# Python
*.pyc

# Local files
local

# generated Javascript lib folder
lib

#############################
# IPython
#############################
notebooks


#############################
# Sublime Text
#############################
sciwiz.sublime-workspace