# Python
*.pyc

# Local files
local

# generated Javascript lib folder
lib

# generated doc folder
doc

#############################
# IPython
#############################
notebooks


#############################
# Sublime Text
#############################
sciwebvis.sublime-workspace